.card {
    overflow-y: scroll;
    height: 300px;
    border: 1px solid;
    resize: none; /* Remove this if you want the user to resize the textarea */
}
.formdiv.col-md-6.offset-md-3.col-sm-12 {
    margin-left: 20%;
}

.btnSend{
    margin-top: 20px;
    margin-left: 82%;
}

@media only screen and (max-width: 600px) {
    .btnSend{
        margin-top: 20px;
        margin-left: 73%;
    }
  }
